/S4E1/AutogluonModels/*
/S4E1/catboost_info/*
/S4E1/.idea/*
S4E3/catboost_info/catboost_training.json
S4E3/catboost_info/learn_error.tsv
S4E3/catboost_info/learn/events.out.tfevents
S4E3/catboost_info/time_left.tsv
S4E4/catboost_info/test/events.out.tfevents
S4E4/catboost_info/catboost_training.json
S4E4/catboost_info/learn_error.tsv
S4E4/catboost_info/test_error.tsv
S4E4/catboost_info/time_left.tsv
S4E4/catboost_info/learn/events.out.tfevents
S4E5/playground-series-s4e5.zip
